
@{
    ViewBag.Title = "FAQ";
}
<div class="">
    <div class="alert bg-gradient2 text-black mb-0" role="article">
        <h4 class="alert-heading font-18">Frequently Asked Question</h4>

        <p class="mb-4 font-13">
            This is the Frequently asked questions page, so you can refer to the following answers in order to understand all about the system
        </p>
        <p class="mb-0">
            Whenever you need to, be sure to use
            this page to keep your self well informed.
        </p>
    </div>
</div>
<div class="card-body">

    <div class="accordion" id="accordionExample">
        <div class="card mb-0">
            <div class="card-header " id="headingOne">
                <h5 class="my-1">
                    <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What do we mean by OSAA?
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                <div class="card-body">
                    The term <i>OSAA</i> ia an abrivation that stands for Online Studet Academic Advisory. It is a
                    system that enables the students and project advisors get in touch with everything at hand. it
                    basically ensures a well organized and secured communication between or among student(s) and advisor
                    in accordance to facilitate communication.

                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header" id="headingTwo">
                <h5 class="my-1">
                    <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Do I need to be a group creator to use this system?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                <div class="card-body">
                    No!
                    <br />
                    Actually you do not need to be a group creator in order to use this system, because anyone who wanted you to be
                    his/her group member can add you as a member and the system will show you on the portal.
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header" id="headingThree">
                <h5 class="my-1">
                    <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Where should i go to find my projects?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    On the left hand menu of the portal, you can find a menu link called <i>Ongoing projects</i> and <i>Previous Projects</i>
                    where you can find your active projects and those projects that are already been terminated.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="alert bg-gradient2 text-black mb-0" role="article">
        <h4 class="alert-heading font-18">Frequently Asked Question</h4>

        <p class="mb-4 font-13">
            This is the Frequently asked questions page, so you can refer to the following answers in order to understand all about the system
        </p>
        <p class="mb-0">
            Whenever you need to, be sure to use
            this page to keep your self well informed.
        </p>
    </div>
</div>

