<div class="col-xl-4 col-lg-4 h-100">
    <div class="wrapper">
        <div class="card my-4 timeline-card">
            <div class=" card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient2 text-black text-center shadow-primary border-radius-lg pt-4 pb-3">
                    <p class="mb-0 font-18">
                        <i class=" font-20"></i> This Week's Activity
                    </p>
                </div>
            </div>
            <div class="card-body boxscroll" style="overflow: hidden; outline: currentcolor none medium;" tabindex="5001">
                <div class="timeline">
                    <div class="entry">
                        <div class="title">
                            <h6>10/ Oct</h6>
                        </div><div class="body">
                            <p>
                                There are many variations of passages of Lorem Ipsum available.....<a href="#" class="text-primary"> Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="title">
                            <h6>9/ Oct</h6>
                        </div>
                        <div class="body">
                            <p>
                                All the Lorem Ipsum generators on the predefined chunks as necessary.....<a href="#" class="text-primary"> Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="title">
                            <h6>8/ Oct</h6>
                        </div>
                        <div class="body">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text.....<a href="#" class="text-primary"> Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="title">
                            <h6>7/ Oct</h6>
                        </div>
                        <div class="body">
                            <p class="pb-1">
                                Many desktop publishing packages and web page editors now.....<a href="#" class="text-primary"> Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="title">
                            <h6>6/ Oct</h6>
                        </div>
                        <div class="body">
                            <p class="pb-1 mb-0">
                                All the Lorem Ipsum generators on the predefined chunks as necessary.....<a href="#" class="text-primary"> Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
